main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

/* Header Icons */
.headerIcon {
  padding: 0 5px;
}

/* Rating Star */
.rating span {
  margin: 0.1rem;
}

/* Full Width Button */
.btn-block {
  display: block;
  width: 100%;
}
